.hero {
    @apply w-full flex p-10 ;   
}

.heroBlur {
    @apply w-full h-full rounded-2xl flex py-10 bg-zinc-950;
    box-shadow: 0 0 30px 15px rgba(3, 7, 18, 1);
}

.heroText {
    @apply m-auto flex flex-col gap-5;
}

.heroText h1 {
    @apply text-center text-4xl md:text-5xl;
    line-height: 1.4;
}

/* Cards Image styles */
.imageCards {
    @apply mt-10 flex gap-5 justify-center flex-wrap px-[3vw];
}

.imageCard {
    @apply overflow-hidden w-28 lg:w-36 xl:w-44 cursor-pointer;
    border-radius: .8rem;
}

@media (min-width: 768px) {
    .imageCard:hover {
        @apply duration-200 ease-in-out;
        box-shadow: 0 0 20px 8px rgba(3, 7, 18, 1);
    } 
}

.imageCard img {
    @apply w-full;
}





