@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg color */
/* rgb(18,18,18) */

body {
  @apply bg-[#000000] text-gray-200 max-w-screen-2xl mx-auto;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Space Mono', monospace; */
}

main {
  @apply w-full mt-28;
}

/* Navbar styles */
nav {
  @apply flex items-center gap-3 px-[5vw] py-5 fixed top-0 left-0 w-full bg-[#000000] shadow-2xl;
}


/* Navbar logo styles */
nav .navLogo {
  @apply w-28 h-14;
}

/* Navbar logo svg image styles */
nav .navLogo img {
  @apply w-full h-full;
}

/* Navlinks toggle button styles */
nav .toggleBtn {
  @apply text-2xl cursor-pointer bg-gray-800 p-2 md:hover:bg-gray-950 ease-in-out duration-300 md:hover:shadow-xl;
  border-radius: .5rem;
}

/* Social media icons container styles */
nav .mediaIcons {
  @apply flex items-center ml-auto text-xl gap-3 md:text-2xl md:gap-5 relative;
}

/* social media icon links style */
nav .mediaIcons a {
  @apply md:hover:text-gray-400 ease-in-out duration-200;
}

/* Navlinks container styles */
nav .navLinks {
  @apply fixed top-0 w-full h-[100dvh] ease-in-out duration-300 z-30;
  backdrop-filter: blur(10px);
}

/* Navlinks list styles */
nav .navLinks ul {
  @apply w-2/3 max-w-[373px] h-full px-10 py-5 flex flex-col gap-5;
}

nav .navLinks ul li {
  @apply w-full bg-gray-800 p-3 md:hover:bg-gray-950 md:hover:shadow-xl text-sm ease-in-out duration-200 flex;
  border-radius: .5rem ;
}

nav .navLinks ul li a {
  @apply w-full;
}

nav .navLinks ul li:first-child {
  @apply mb-10 text-3xl w-fit p-3 flex items-center justify-center outline-none;
  border-radius: .5rem;
}


/* Footer styles */
footer {
  @apply  flex flex-col;
  @apply px-[5vw] lg:px-[3vw] py-10 mt-56;
}

.footerLogo {
  @apply  flex justify-center;
}

.footerLogo img {
  @apply w-16;
}

/* links and list styles */

/* general styles */
footer ul li a {
  @apply text-sm font-light lg:hover:text-blue-400 duration-300 ease-in-out;
}

footer h1 {
  @apply text-xl font-semibold mb-3;
}

.footerLinks {
  @apply  flex flex-col gap-10 lg:flex-row lg:justify-between bg-gray-800 p-5;
}

/* companyLinks styles */
.companyLinks {
  /* @apply ; */
}

/* productsUtilities stylew */
.productsUtilities > div {
  @apply  flex gap-8;
}


/* Icons and images in the footer */
.footerImgIcons {
  @apply flex flex-col pt-10 gap-5 lg:flex-row lg:justify-between  lg:pt-5;
}

.footerImgIcons > div {
  @apply lg:flex-1;
}

.copyRight {
  @apply flex flex-col gap-1;
}

.copyRight p {
  @apply text-[12px] font-light text-center;
}

/* logo images in the footer */
.footerLogos {
  @apply flex gap-5 items-center justify-center;
}

.footerLogos > div {
  @apply h-fit max-w-[181px];
}

.mediaIcons {
  @apply flex items-center ml-auto text-xl gap-3 md:text-2xl md:gap-5 justify-center w-full lg:justify-end;
}












































